.flows_agromeans.json.backup
[{"id":"ee0210ff.d58d6","type":"tab","label":"Detect & Contral api","disabled":false,"info":""},{"id":"d9d53de3.1bbd2","type":"tab","label":"70% debug","disabled":false,"info":""},{"id":"b98447e2.ecc8c8","type":"subflow","name":"time diff","info":"","category":"","in":[{"x":180,"y":140,"wires":[{"id":"aa9acff.4c7a93"}]}],"out":[{"x":480,"y":140,"wires":[{"id":"aa9acff.4c7a93","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4e6f33b4.68053c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b74f8a9.bbd4f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f7629b0d.015018","type":"mqtt-broker","name":"20.191.97.53","broker":"20.191.97.53","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c30a41e8.72199","type":"ui_group","name":"Control","tab":"14276685.6aa4b9","order":1,"disp":true,"width":"6","collapse":false},{"id":"93377aba.97c078","type":"ui_group","name":"Setup","tab":"14276685.6aa4b9","order":2,"disp":true,"width":"6","collapse":false},{"id":"14276685.6aa4b9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1d8ed34.6a447","type":"ui_group","name":"Time","tab":"4d8d2f83.26819","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d8d2f83.26819","type":"ui_tab","name":"Settings","icon":"settings"},{"id":"c4af32c9.bfd41","type":"file in","z":"ee0210ff.d58d6","name":"get_img","filename":"/home/pi/Desktop/marij_detect/data/image/dis.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":220,"wires":[["19a2d327.ab8b3d"]]},{"id":"f3d5d85d.bcd888","type":"exec","z":"ee0210ff.d58d6","command":"cd Desktop/marij_detect/ && python3 upload_to_cloud.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute buttom","x":400,"y":320,"wires":[[],["c99a9a48.122dd8"],["54ae95e9.30182c","c4af32c9.bfd41","8f1c17d2.5d0fa8"]]},{"id":"c99a9a48.122dd8","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"69763ca7.095114","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["c4af32c9.bfd41"]]},{"id":"54ae95e9.30182c","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":420,"wires":[]},{"id":"2e31c828.a4cd58","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":500,"wires":[["aab967a0.a154e8"]]},{"id":"aab967a0.a154e8","type":"file","z":"ee0210ff.d58d6","name":"write_height_init","filename":"/home/pi/Desktop/marij_detect/lib/config/config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":500,"wires":[[]]},{"id":"7f5dc3f8.2afe6c","type":"exec","z":"ee0210ff.d58d6","command":"cd Desktop/marij_detect/ && python3 upload_to_cloud.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute daily","x":390,"y":100,"wires":[["c4af32c9.bfd41"],[],[]]},{"id":"8c041201.5f88f","type":"inject","z":"ee0210ff.d58d6","name":"daily detect","repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["7f5dc3f8.2afe6c"]]},{"id":"8f1c17d2.5d0fa8","type":"file in","z":"ee0210ff.d58d6","name":"write_height","filename":"/home/pi/Desktop/marij_detect/lib/config/center_height.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":630,"y":320,"wires":[["29b18a56.296ac6"]]},{"id":"29b18a56.296ac6","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":810,"y":320,"wires":[["614db6cb.8bf208","10537862.096d98"]]},{"id":"8c029255.d2b68","type":"file in","z":"ee0210ff.d58d6","name":"ai_decision","filename":"/home/pi/Desktop/marij_detect/lib/config/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":760,"wires":[["fbc0b4bc.ec3bc8"]]},{"id":"fbc0b4bc.ec3bc8","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":530,"y":760,"wires":[["7ebd0eec.1f0a8","5d08bf7.950274","64081877.b46148"]]},{"id":"a4364fb.f8b02b","type":"function","z":"ee0210ff.d58d6","name":"set led_manual to flow","func":"flow.set('manual_led', Number(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1260,"wires":[[]]},{"id":"7ebd0eec.1f0a8","type":"function","z":"ee0210ff.d58d6","name":"set to flow","func":"var led = Number(msg.payload.led)\nvar uv = (msg.payload.uv == 'on')\nvar ir = (msg.payload.ir == 'on')\nmsg.topic = 'ai_ctr'\nmsg.payload = {\n    \"led\": led,\n    \"uv\": uv,\n    \"ir\": ir\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":760,"wires":[["e9267fdc.4a5a3"]]},{"id":"7606b3d6.66c19c","type":"rpi-gpio out","z":"ee0210ff.d58d6","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1320,"y":1060,"wires":[]},{"id":"b6cfeb41.d6efa8","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_DETECT_BUTTOM}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":160,"y":340,"wires":[["f3d5d85d.bcd888"]]},{"id":"91d57767.5fcfb8","type":"function","z":"ee0210ff.d58d6","name":"set topic to control","func":"msg.topic = \"control\"\nflow.set('manual_control', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1040,"wires":[["e255977d.8ddd48","e9267fdc.4a5a3","472ff49d.988b8c","fc2bec61.0b1d1"]]},{"id":"6c36b007.2b527","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_HEIGHT_FORM}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":170,"y":500,"wires":[["2e31c828.a4cd58"]]},{"id":"614db6cb.8bf208","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_SHOW_HEIGHT}","qos":"","retain":"","broker":"f7629b0d.015018","x":1040,"y":320,"wires":[]},{"id":"1c333075.868ed","type":"function","z":"ee0210ff.d58d6","name":"get manual uv","func":"msg.topic = 'manual_uv'\nvar manual_uv = flow.get('manual_uv')\nvar uv = (manual_uv == 'true')\nmsg.payload = {\n    \"uv\": uv\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":960,"wires":[["472ff49d.988b8c"]]},{"id":"af99ebe9.5a6b28","type":"function","z":"ee0210ff.d58d6","name":"uv output","func":"ndvi = flow.get(\"ndvi\")\nif (ndvi){\n    msg.payload = true\n}else{\n    msg.payload = msg.payload.uv    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1060,"wires":[["7606b3d6.66c19c","d66eeb0b.434a58"]]},{"id":"98724458.191a18","type":"file in","z":"ee0210ff.d58d6","name":"tml_to_json","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/CJMCU/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":590,"y":1980,"wires":[["b5d36304.bbdb7"]]},{"id":"b5d36304.bbdb7","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1980,"wires":[["a1ace718.7a0078"]]},{"id":"a1ace718.7a0078","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_CJMCU}","qos":"","retain":"","broker":"f7629b0d.015018","x":950,"y":1980,"wires":[]},{"id":"f74751c6.7a784","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/Desktop/marij_detect/lib/GPIO/CJMCU/ && python3 sentData.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_tml","x":400,"y":1980,"wires":[[],[],["98724458.191a18"]]},{"id":"5eab3cb7.193e54","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":730,"y":2060,"wires":[["7e1c11a5.43a4d"]]},{"id":"7e1c11a5.43a4d","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_MH}","qos":"","retain":"","broker":"f7629b0d.015018","x":900,"y":2060,"wires":[]},{"id":"1b85fe77.4a0042","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/Desktop/marij_detect/lib/GPIO/MH-Z14A/ && python3 co2.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_co2","x":400,"y":2060,"wires":[[],[],["f2d79b48.853618"]]},{"id":"66826906.813a98","type":"status","z":"ee0210ff.d58d6","name":"detect_status","scope":["f3d5d85d.bcd888"],"x":830,"y":460,"wires":[["36eb083a.542bc8"]]},{"id":"f89d108c.b4deb","type":"complete","z":"ee0210ff.d58d6","name":"","scope":["f3d5d85d.bcd888"],"uncaught":false,"x":830,"y":520,"wires":[["f7011f18.30c8e"]]},{"id":"67d759f4.290738","type":"catch","z":"ee0210ff.d58d6","name":"","scope":["f3d5d85d.bcd888"],"uncaught":false,"x":830,"y":580,"wires":[["22f6b41d.da03cc"]]},{"id":"36eb083a.542bc8","type":"function","z":"ee0210ff.d58d6","name":"running","func":"msg.payload = \"running\"\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":460,"wires":[["db89c034.ebe5f"]]},{"id":"f7011f18.30c8e","type":"function","z":"ee0210ff.d58d6","name":"completed","func":"msg.payload = \"completed\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["db89c034.ebe5f"]]},{"id":"db89c034.ebe5f","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_DETECT_STATE}","qos":"","retain":"","broker":"f7629b0d.015018","x":1290,"y":520,"wires":[]},{"id":"22f6b41d.da03cc","type":"function","z":"ee0210ff.d58d6","name":"error","func":"msg.payload = \"error\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":580,"wires":[["db89c034.ebe5f"]]},{"id":"d0196154.5b1cd","type":"complete","z":"ee0210ff.d58d6","name":"hieght set completed","scope":["aab967a0.a154e8"],"uncaught":false,"x":150,"y":560,"wires":[["1b55189c.d26427"]]},{"id":"86ba8e1d.2cf6","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_HEIGHT_STATE}","qos":"","retain":"","broker":"f7629b0d.015018","x":580,"y":560,"wires":[]},{"id":"1b55189c.d26427","type":"function","z":"ee0210ff.d58d6","name":"set completed","func":"msg.payload = \"set to \" + msg.payload.height.toString() + \" m\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["86ba8e1d.2cf6"]]},{"id":"950f6212.2c656","type":"complete","z":"ee0210ff.d58d6","name":"after_detection","scope":["f3d5d85d.bcd888","7f5dc3f8.2afe6c"],"uncaught":false,"x":140,"y":720,"wires":[["8c029255.d2b68"]]},{"id":"420b9799.614898","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_GET_IMAGE}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":140,"y":240,"wires":[["c4af32c9.bfd41"]]},{"id":"d4ff44fe.087908","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_GET_DATA}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":140,"y":1980,"wires":[["1b85fe77.4a0042","f74751c6.7a784"]]},{"id":"baeaa10c.6498f","type":"status","z":"ee0210ff.d58d6","name":"get_sensor_data","scope":["f3d5d85d.bcd888","7f5dc3f8.2afe6c"],"x":160,"y":2060,"wires":[["1b85fe77.4a0042","f74751c6.7a784"]]},{"id":"30eef149.a2632e","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":780,"wires":[["8c029255.d2b68"]]},{"id":"e9267fdc.4a5a3","type":"gate","z":"ee0210ff.d58d6","name":"ai","controlTopic":"control","defaultState":"closed","openCmd":"ai","closeCmd":"manual","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":890,"y":860,"wires":[["af99ebe9.5a6b28","75847f64.2175f","9f2edff1.00c5d"]],"info":"ai mode have two input possible \n1. in first hour of every day open form 10~50\n2. open by the ai decision"},{"id":"e255977d.8ddd48","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"open","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":920,"y":960,"wires":[["9f2edff1.00c5d"]]},{"id":"472ff49d.988b8c","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"open","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":920,"y":1020,"wires":[["af99ebe9.5a6b28"]]},{"id":"19a2d327.ab8b3d","type":"base64","z":"ee0210ff.d58d6","name":"","action":"str","property":"payload","x":560,"y":220,"wires":[["bfdfbfa0.f3ea9"]]},{"id":"55708d9.bd16274","type":"function","z":"ee0210ff.d58d6","name":"set to json","func":"led = msg.payload\nif (typeof led === 'number')\n{\n    msg.payload = {\n    \"led_intensity\": led\n    }   \n    flow.set(\"now_output\", led)\n    return msg;\n}\nelse {\n    //protect the bug happen\n    msg.payload = {\n    \"led_intensity\": 50\n    }   \n    return msg;\n}","outputs":1,"noerr":0,"x":1310,"y":840,"wires":[["53e2daec.383aa4"]]},{"id":"793e30d8.70ebc","type":"file","z":"ee0210ff.d58d6","name":"pwm_file","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/PWM/pwm_info.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1680,"y":840,"wires":[[]]},{"id":"53e2daec.383aa4","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":840,"wires":[["793e30d8.70ebc"]]},{"id":"1d6c12b9.eed91d","type":"ui_slider","z":"ee0210ff.d58d6","name":"","label":"led","tooltip":"","group":"c30a41e8.72199","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"90","step":"10","x":130,"y":1240,"wires":[["a4364fb.f8b02b"]]},{"id":"f5a97a9f.051948","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"uv","tooltip":"","group":"c30a41e8.72199","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":1340,"wires":[["e1079e95.b736c"]]},{"id":"e2a2a628.db7da8","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"AI","tooltip":"","group":"c30a41e8.72199","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"ai","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manual","offvalueType":"str","officon":"","offcolor":"","x":110,"y":1040,"wires":[["91d57767.5fcfb8"]]},{"id":"c1ddada6.4a2d9","type":"status","z":"ee0210ff.d58d6","name":"led status","scope":["1d6c12b9.eed91d"],"x":660,"y":1440,"wires":[["3750df53.3bd3e"]]},{"id":"3750df53.3bd3e","type":"ui_text","z":"ee0210ff.d58d6","group":"c30a41e8.72199","order":5,"width":0,"height":0,"name":"","label":"led intensity","format":"{{msg.status.text}}%","layout":"row-spread","x":850,"y":1440,"wires":[]},{"id":"23d2c2b.e5a9e3e","type":"ui_form","z":"ee0210ff.d58d6","name":"","label":"","group":"93377aba.97c078","order":6,"width":0,"height":0,"options":[{"label":"height (m)","value":"height","type":"number","required":true,"rows":null}],"formValue":{"height":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":440,"wires":[["aa3740d0.f4941","2e31c828.a4cd58"]]},{"id":"aa3740d0.f4941","type":"ui_text","z":"ee0210ff.d58d6","group":"93377aba.97c078","order":5,"width":0,"height":0,"name":"","label":"","format":"set to {{msg.payload.height}} m","layout":"row-spread","x":310,"y":440,"wires":[]},{"id":"10537862.096d98","type":"ui_text","z":"ee0210ff.d58d6","group":"93377aba.97c078","order":2,"width":0,"height":0,"name":"","label":"center height","format":"{{msg.payload.height}} m","layout":"row-spread","x":990,"y":280,"wires":[]},{"id":"5d08bf7.950274","type":"ui_text","z":"ee0210ff.d58d6","group":"c30a41e8.72199","order":1,"width":0,"height":0,"name":"","label":"AI","format":"led : {{msg.payload.led}} uv : {{msg.payload.uv}} ir : {{msg.payload.ir}}","layout":"row-spread","x":690,"y":700,"wires":[]},{"id":"f2689ee7.a88a","type":"file in","z":"d9d53de3.1bbd2","name":"70%file","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":80,"wires":[["8fff8697.a70168"]]},{"id":"5ef90cbf.5372f4","type":"inject","z":"d9d53de3.1bbd2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["dbe56d50.c5919"]]},{"id":"9615bc76.b2702","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_70_STATE}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":270,"y":80,"wires":[["f2689ee7.a88a"]]},{"id":"5985f123.78c58","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_WRITE_70_FALSE}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":160,"y":300,"wires":[["dbe56d50.c5919"]]},{"id":"63fa5159.70fd5","type":"json","z":"d9d53de3.1bbd2","name":"","property":"payload","action":"","pretty":false,"x":530,"y":300,"wires":[["104fbe55.4fb652"]]},{"id":"104fbe55.4fb652","type":"function","z":"d9d53de3.1bbd2","name":"set_trans_false","func":"msg.payload.trans_now = \"false\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["3580e256.5f342e"]]},{"id":"dbe56d50.c5919","type":"file in","z":"d9d53de3.1bbd2","name":"70%file","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":300,"wires":[["63fa5159.70fd5"]]},{"id":"3580e256.5f342e","type":"json","z":"d9d53de3.1bbd2","name":"","property":"payload","action":"","pretty":false,"x":870,"y":300,"wires":[["ac0e1eba.96aeb"]]},{"id":"ac0e1eba.96aeb","type":"file","z":"d9d53de3.1bbd2","name":"write_back","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1020,"y":300,"wires":[[]]},{"id":"8fff8697.a70168","type":"mqtt out","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_70_STATE_OUT}","qos":"","retain":"","broker":"f7629b0d.015018","x":750,"y":80,"wires":[]},{"id":"fe37938.e443f7","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_NET_CHECK}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":290,"y":160,"wires":[["712b6d63.3ac804"]]},{"id":"712b6d63.3ac804","type":"function","z":"d9d53de3.1bbd2","name":"","func":"msg.payload = Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["8fff8697.a70168"]]},{"id":"f2d79b48.853618","type":"file in","z":"ee0210ff.d58d6","name":"co2_to_json","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/MH-Z14A/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":2060,"wires":[["5eab3cb7.193e54"]]},{"id":"3f925373.ee9e0c","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_ZERO_LED}","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1340,"y":900,"wires":[]},{"id":"d66eeb0b.434a58","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_ZERO_UV}","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1360,"y":1000,"wires":[]},{"id":"869c772d.f577b8","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"ir","tooltip":"","group":"c30a41e8.72199","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":1440,"wires":[["185c4ef9.708111"]]},{"id":"c3a6fb74.9ecef8","type":"rpi-gpio out","z":"ee0210ff.d58d6","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1280,"y":1120,"wires":[]},{"id":"853596fb.0df0b8","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_ZERO_IR}","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1310,"y":1180,"wires":[]},{"id":"d1abbcb1.c05c4","type":"function","z":"ee0210ff.d58d6","name":"get manual_ir ","func":"msg.topic = 'manual_ir'\nvar manual_ir = flow.get('manual_ir')\nvar ir = (manual_ir == 'true')\nmsg.payload = {\n    \"ir\": ir\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1140,"wires":[["fc2bec61.0b1d1"]]},{"id":"fc2bec61.0b1d1","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"open","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":900,"y":1140,"wires":[["75847f64.2175f"]]},{"id":"5caa30e7.c1c6","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_LED}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":150,"y":1280,"wires":[["a4364fb.f8b02b"]]},{"id":"64081877.b46148","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_AI_STATUS}","qos":"","retain":"","broker":"f7629b0d.015018","x":740,"y":820,"wires":[]},{"id":"8f8db444.390428","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_UV}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":150,"y":1380,"wires":[["e1079e95.b736c"]]},{"id":"d552b19a.75f3c","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_MANUAL_SWITCH}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":120,"y":1080,"wires":[["91d57767.5fcfb8"]]},{"id":"8e92b5a9.0ca798","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_IR}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":150,"y":1480,"wires":[["185c4ef9.708111"]]},{"id":"75847f64.2175f","type":"function","z":"ee0210ff.d58d6","name":"ir output","func":"msg.payload = msg.payload.ir \nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1140,"wires":[["c3a6fb74.9ecef8","853596fb.0df0b8"]]},{"id":"bfdfbfa0.f3ea9","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_IMAGE}","qos":"","retain":"","broker":"f7629b0d.015018","x":780,"y":220,"wires":[]},{"id":"f0d98a70.f47608","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NET_STATUS}","qos":"","retain":"","broker":"f7629b0d.015018","x":490,"y":2260,"wires":[]},{"id":"9bb9b023.b0ea3","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NET_CHECK}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":200,"y":2260,"wires":[["f0d98a70.f47608"]]},{"id":"5368ccc8.085314","type":"inject","z":"ee0210ff.d58d6","name":"trigger for chart","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2140,"wires":[["eae1bf29.84b59","507335ab.fe221c","f74751c6.7a784","1b85fe77.4a0042"]]},{"id":"eae1bf29.84b59","type":"function","z":"ee0210ff.d58d6","name":"produceDummyData","func":"t = Math.random()*2 + 20\nh = Math.random()*2 + 50\nl = Math.random()*15 + 1000\nmsg.payload = {\n    temperature: Math.round(t*100)/100,\n    humidity: Math.round(h*100)/100,\n    light: Math.round(l*100)/100\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":2120,"wires":[[]]},{"id":"507335ab.fe221c","type":"function","z":"ee0210ff.d58d6","name":"produceDummyData_co2","func":"c = Math.random()*10 + 400\nmsg.payload = { co2 : Math.round(c*100)/100 }\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2160,"wires":[[]]},{"id":"81b9479c.8921f8","type":"function","z":"ee0210ff.d58d6","name":"set date state and solar switch to flow","func":"// we set \"true\"/\"false\" (str) to the flow variable\n// must be str  \nflow.set('solarSwitch', msg.payload)\nmsg.payload = {\n    \"state\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1880,"wires":[["8d18cf7.1e3183"]]},{"id":"636786bc.cca958","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"$(MQTT_SOLAR_SWITCH)","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":180,"y":1880,"wires":[["81b9479c.8921f8"]]},{"id":"9f2edff1.00c5d","type":"function","z":"ee0210ff.d58d6","name":"add solar sim","func":"// in default we open the solar simulation\n// must use str, if not it will always be true (|| usage)\nsolarSwitch = (flow.get('solarSwitch') == \"true\")\nsolar_start = flow.get('start_solar')\nsolar_end = flow.get('end_solar')\nled = msg.payload\nndvi = flow.get(\"ndvi\")||false\n\nif (ndvi){\n    msg.payload = 10\n    msg.state = \"ndvi\"\n}\n// solarLed will be increased in other node every 30 min\nelse if ((solar_start || solar_end) && solarSwitch){\n    msg.payload = flow.get('solar_inten')\n    msg.state = 'solar'\n}\nelse{\n    msg.payload = led\n    msg.state = 'not solar'\n}\nreturn msg","outputs":1,"noerr":0,"x":1090,"y":860,"wires":[["55708d9.bd16274","3f925373.ee9e0c"]]},{"id":"2e181cd8.3c6394","type":"function","z":"ee0210ff.d58d6","name":"set solar end ","func":"var ctr_switch = flow.get('manual_control')||'not yet'\n\nif (ctr_switch == 'ai'){\n    var last_ai_led = Number(msg.payload.led)\n    flow.set('solarEnd', last_ai_led)\n    msg.payload = 'ai now'\n}else if (ctr_switch == 'manual'){\n    var last_manual_led = flow.get('manual_led')\n    flow.set('solarEnd', last_manual_led)\n    msg.payload = 'manual now '\n}else {\n    msg.payload = ctr_switch\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1660,"wires":[[]]},{"id":"257d0e64.9db5e2","type":"file in","z":"ee0210ff.d58d6","name":"ai output pwm ","filename":"/home/pi/Desktop/marij_detect/lib/config/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":1660,"wires":[["736d1007.a6911"]]},{"id":"736d1007.a6911","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":520,"y":1660,"wires":[["2e181cd8.3c6394"]]},{"id":"56795c.22e836a4","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":880,"wires":[["7dd9ba80.a99d24"]]},{"id":"7dd9ba80.a99d24","type":"function","z":"ee0210ff.d58d6","name":"get manual led","func":"msg.payload = flow.get('manual_led')||50\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[["e255977d.8ddd48"]]},{"id":"ab89a39e.96473","type":"file","z":"ee0210ff.d58d6","name":"switch file","filename":"/home/pi/Desktop/marij_detect/lib/config/solar_switch.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":900,"y":1880,"wires":[[]]},{"id":"8d18cf7.1e3183","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":730,"y":1880,"wires":[["ab89a39e.96473"]]},{"id":"6e6c06c8.ad0a68","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1780,"wires":[["4726b179.62601"]]},{"id":"4726b179.62601","type":"file in","z":"ee0210ff.d58d6","name":"init solar switch","filename":"/home/pi/Desktop/marij_detect/lib/config/solar_switch.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":1780,"wires":[["289ca8c0.ac29e8"]]},{"id":"289ca8c0.ac29e8","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1780,"wires":[["9043d90e.d536d8"]]},{"id":"9043d90e.d536d8","type":"function","z":"ee0210ff.d58d6","name":"init solarSwitch","func":"flow.set('solarSwitch', msg.payload.state)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1780,"wires":[[]]},{"id":"ea31459c.f64438","type":"comment","z":"ee0210ff.d58d6","name":"solar led end intensity init ","info":"now init by the last ai value\n\nsolarEnd is the value for solar-smi\n1. 0 -> solarEnd (at start)\n2. solarEnd -> 0 (at close)\n\nso the value of solarEnd: \nif ai :\n    read data.json -> solarEnd\nelse manual : \n    read from init || read when manual slide change","x":170,"y":1620,"wires":[]},{"id":"7457b3b9.9e62bc","type":"comment","z":"ee0210ff.d58d6","name":"solar switch init ","info":"init by the last state","x":160,"y":1740,"wires":[]},{"id":"d6b12ee4.275f2","type":"comment","z":"ee0210ff.d58d6","name":"solar switch set (when it change)","info":"","x":200,"y":1840,"wires":[]},{"id":"c0efa614.21bd68","type":"file in","z":"ee0210ff.d58d6","name":"get_img","filename":"/home/pi/AI_Health/NDVI.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":260,"y":2420,"wires":[["4a949335.36039c"]]},{"id":"4a949335.36039c","type":"base64","z":"ee0210ff.d58d6","name":"","action":"str","property":"payload","x":400,"y":2420,"wires":[["fa79fae0.0a9bd8"]]},{"id":"fa79fae0.0a9bd8","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NDVI_IMAGE}","qos":"","retain":"","broker":"f7629b0d.015018","x":590,"y":2420,"wires":[]},{"id":"950e64ee.b06478","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2420,"wires":[["c0efa614.21bd68"]]},{"id":"4f10d58f.90ccbc","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2480,"wires":[["4ef1c898.3f9a88"]]},{"id":"4ef1c898.3f9a88","type":"file in","z":"ee0210ff.d58d6","name":"solar led file","filename":"/home/pi/Desktop/marij_detect/lib/config/uNDVI_data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":2480,"wires":[["63e2545b.d5218c"]]},{"id":"63e2545b.d5218c","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":420,"y":2480,"wires":[["38eb5d3.ad769a2"]]},{"id":"38eb5d3.ad769a2","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NDVI_JSON}","qos":"","retain":"","broker":"f7629b0d.015018","x":600,"y":2480,"wires":[]},{"id":"e257f95e.b80b48","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_SOLAR_TIME}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":1150,"y":1540,"wires":[["992c03e9.ccafa"]]},{"id":"992c03e9.ccafa","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":1540,"wires":[["61e4d035.dc496"]]},{"id":"61e4d035.dc496","type":"function","z":"ee0210ff.d58d6","name":"set solar time to flow and file","func":"const fs = global.get('fs')\nvar jsonStr = fs.readFileSync('/home/pi/Desktop/marij_detect/lib/config/solar_switch.json')\nvar time_info = JSON.parse(jsonStr)\n\nif (msg.payload.start == ''){\n    msg.payload.start = time_info.start\n}\nif (msg.payload.end == ''){\n    msg.payload.end = time_info.end\n}\nif (msg.payload.offset == ''){\n    msg.payload.offset = time_info.offset\n}\n\n// set flow variable \nflow.set('start', msg.payload.start)\nflow.set('end', msg.payload.end)\nflow.set('offset', msg.payload.offset)\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":1540,"wires":[["4317e778.7b79b8","f8bad8ef.6aef78"]]},{"id":"4317e778.7b79b8","type":"file","z":"ee0210ff.d58d6","name":"solar_time file","filename":"/home/pi/Desktop/marij_detect/lib/config/solar_time.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1820,"y":1540,"wires":[[]]},{"id":"bb1b7f5.7f5878","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1120,"y":1600,"wires":[["8cdfb1c6.24806"]]},{"id":"8cdfb1c6.24806","type":"file in","z":"ee0210ff.d58d6","name":"solar_time file","filename":"/home/pi/Desktop/marij_detect/lib/config/solar_time.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1300,"y":1600,"wires":[["cdccc096.93e48"]]},{"id":"cdccc096.93e48","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":1600,"wires":[["884ad23e.0efa3"]]},{"id":"884ad23e.0efa3","type":"function","z":"ee0210ff.d58d6","name":"init solar_time ","func":"// if start, end, offset haven't set yet they will be false\nvar start = msg.payload.start || false\nvar end = msg.payload.end || false\nvar offset = msg.payload.offset || false \n\nflow.set('start', start)\nflow.set('end', end)\nflow.set('offset', offset)\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":1600,"wires":[["f8bad8ef.6aef78"]]},{"id":"37618be1.a912d4","type":"comment","z":"ee0210ff.d58d6","name":"get custom solar time","info":"","x":1140,"y":1500,"wires":[]},{"id":"4a837537.e5662c","type":"function","z":"ee0210ff.d58d6","name":"system time to local time ","func":"var d = new Date()\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = flow.get('offset') || false\nif (offset == \"false\") {\n    return \n}\nelse {\n    var nd = new Date(utc + (3600000*offset));\n    var options = {\n        hour12: false \n    }\n    var dateStr = nd.toLocaleString('en-GB', options)\n    var date_time = dateStr.split(' ')[1]\n    flow.set('local_time', date_time)\n    msg.payload = date_time\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":1330,"y":1760,"wires":[["42f04423.da7e4c"]]},{"id":"f11dced4.2aec9","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1120,"y":1760,"wires":[["4a837537.e5662c"]]},{"id":"42f04423.da7e4c","type":"function","z":"ee0210ff.d58d6","name":"if now the solar time","func":"var local_time = msg.payload\nvar hr = parseInt(local_time.split(':')[0])\nvar min = parseInt(local_time.split(':')[1])\n\nvar start = flow.get('start')\nvar end = flow.get('end')\n\nvar start_hr = parseInt(start.split(':')[0])\nvar start_min = parseInt(start.split(':')[1])\n\nvar end_hr = parseInt(end.split(':')[0])\nvar end_min = parseInt(end.split(':')[1])\n\nif ((hr == start_hr && min >= start_min) || (hr == start_hr+1 && min <= start_min)){\n    //it's start solar time \n    flow.set('start_solar', true)\n    flow.set('end_solar', false)\n    msg.topic = 'start'\n    msg.payload = {\n        start : start,\n        end : local_time\n    }\n}else if ((hr == end_hr && min <= end_min) || (hr == end_hr-1 && min >= end_min)){\n    //it's end solar time \n    flow.set('end_solar', true)\n    flow.set('start_solar', false)\n    msg.topic = 'end'\n    msg.payload = {\n        start : local_time,\n        end : end\n    }\n}else {\n    flow.set('start_solar', false)\n    flow.set('end_solar', false)\n    msg.topic = 'nosolar'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":1760,"wires":[["6527b8aa.195b98"]]},{"id":"f6156877.fd0bd8","type":"comment","z":"ee0210ff.d58d6","name":"flow variable","info":"// done \n1. input only hour format is ok\n2. flow = {\n\nsolarEnd // solar last inensity (int)\n\nstart_solar // true if hr is right (bool)\nend_solar // true id hr is right (bool)\nsolar_inten // solar led inten desicion (int)\n\n// from dashborad\nmanual_led // led slide value (int)\nmanual_uv // switch (str \"true\", \"false\")\nmanual_ir // switch (str \"true\", \"false\")\ncontrol // switch (str \"ai\", \"manual\")\nsolarSwitch // switch (str \"true\", \"false\")\n\nstart // usr set start time (str ex. \"8:00\")\nend // usr set end time (str ex. \"20:00\")\noffset // usr set time zone offset (int ex. 8)\n\n}\n\n\n// undone \n1. downword \n2. un hour formet","x":130,"y":1580,"wires":[]},{"id":"1b64c3cb.6d9acc","type":"comment","z":"ee0210ff.d58d6","name":"check if now is in the solar time ","info":"","x":1180,"y":1700,"wires":[]},{"id":"aa9acff.4c7a93","type":"function","z":"b98447e2.ecc8c8","name":"time diff","func":"var start = msg.payload.start\nvar end = msg.payload.end\nstart = start.split(\":\");\nend = end.split(\":\");\nvar startDate = new Date(0, 0, 0, start[0], start[1], 0);\nvar endDate = new Date(0, 0, 0, end[0], end[1], 0);\nvar diff = endDate.getTime() - startDate.getTime();\nvar hours = Math.floor(diff / 1000 / 60 / 60);\ndiff -= hours * 1000 * 60 * 60;\nvar minutes = Math.floor(diff / 1000 / 60);\n\n// If using time pickers with 24 hours format, add the below line get exact hours\nif (hours < 0)\n   hours = hours + 24;\n\nmsg.payload = (hours <= 9 ? \"0\" : \"\") + hours + \":\" + (minutes <= 9 ? \"0\" : \"\") + minutes;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[[]]},{"id":"6527b8aa.195b98","type":"function","z":"ee0210ff.d58d6","name":"time diff","func":"if (msg.topic == 'start' || msg.topic == 'end'){\n    var start = msg.payload.start\n    var end = msg.payload.end\n    start = start.split(\":\");\n    end = end.split(\":\");\n    var startDate = new Date(0, 0, 0, start[0], start[1], 0);\n    var endDate = new Date(0, 0, 0, end[0], end[1], 0);\n    var diff = endDate.getTime() - startDate.getTime();\n    var hours = Math.floor(diff / 1000 / 60 / 60);\n    diff -= hours * 1000 * 60 * 60;\n    var minutes = Math.floor(diff / 1000 / 60);\n    \n    // If using time pickers with 24 hours format, add the below line get exact hours\n    if (hours < 0)\n       hours = hours + 24;\n    msg.payload = (hours <= 9 ? \"0\" : \"\") + hours + \":\" + (minutes <= 9 ? \"0\" : \"\") + minutes;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":1760,"wires":[["9ab753f9.c2274"]]},{"id":"9ab753f9.c2274","type":"function","z":"ee0210ff.d58d6","name":"set solar inten","func":"var time = msg.payload \nvar hr = parseInt(time.split(':')[0])\nvar min = parseInt(time.split(':')[1])\nvar solarEnd = flow.get('solarEnd')\nif (msg.topic == 'start'){\n    msg.payload = 'start'\n    if (0 <= min && min <= 10){\n        var inten = Math.round(solarEnd*0.17)\n        flow.set('solar_inten', inten)\n    }else if(10 < min && min <= 20 && solarEnd > 20){\n        var inten = Math.round(solarEnd*0.34)\n        flow.set('solar_inten', inten)\n    }else if(20 < min && min <= 30 && solarEnd > 30){\n        var inten = Math.round(solarEnd*0.51)\n        flow.set('solar_inten', inten)\n    }else if(30 < min && min <= 40 && solarEnd > 40){\n        var inten = Math.round(solarEnd*0.68)\n        flow.set('solar_inten', inten)\n    }else if(40 < min && min <= 50 && solarEnd > 50){\n        var inten = Math.round(solarEnd*0.85)\n        flow.set('solar_inten', inten)\n    }else if(50 < min && min <= 60 && solarEnd > 60){\n        var inten = solarEnd\n        flow.set('solar_inten', inten)\n    }\n}else if (msg.topic == \"end\"){\n    if (50 <= min && min <= 60){\n        var inten = Math.round(solarEnd*0.85)\n        flow.set('solar_inten', inten)\n    }else if(40 < min && min <= 50){\n        var inten = Math.round(solarEnd*0.68)\n        flow.set('solar_inten', inten)\n    }else if(30 < min && min <= 40){\n        var inten = Math.round(solarEnd*0.51)\n        flow.set('solar_inten', inten)\n    }else if(20 < min && min <= 30){\n        var inten = Math.round(solarEnd*0.34)\n        flow.set('solar_inten', inten)\n    }else if(10 < min && min <= 20 && solarEnd > 20){\n        var inten = Math.round(solarEnd*0.17)\n        flow.set('solar_inten', inten)\n    }else if(0 <= min && min <= 10 && solarEnd > 10){\n        flow.set('solar_inten', 0)\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1760,"wires":[[]]},{"id":"c168b162.7a636","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MQTT_NOW_OUTPUT","payloadType":"env","x":1070,"y":1400,"wires":[["7e2e161c.219ea8"]]},{"id":"7e2e161c.219ea8","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":1400,"wires":[]},{"id":"1ff278e2.2067f7","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":1280,"wires":[["2f5f8968.a7a926"]]},{"id":"2f5f8968.a7a926","type":"function","z":"ee0210ff.d58d6","name":"open ndvi","func":"flow.set(\"ndvi\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1280,"wires":[["10fa7259.c9cd9e"]]},{"id":"10fa7259.c9cd9e","type":"delay","z":"ee0210ff.d58d6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1280,"wires":[["53f02c35.d4cb74"]]},{"id":"53f02c35.d4cb74","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/AI_Health && python3 camera_uNDVI.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exe ndvi","x":1320,"y":1280,"wires":[["3c59e40.da59e1c"],[],[]]},{"id":"3c59e40.da59e1c","type":"function","z":"ee0210ff.d58d6","name":"ndvi close","func":"flow.set(\"ndvi\", false)\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1280,"wires":[[]]},{"id":"86280ac5.e19d38","type":"complete","z":"ee0210ff.d58d6","name":"open ndvi","scope":["2f5f8968.a7a926"],"uncaught":false,"x":770,"y":1080,"wires":[["af99ebe9.5a6b28","9f2edff1.00c5d"]]},{"id":"2e8ad3df.fade0c","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NDVI_DETECT}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":810,"y":1320,"wires":[["2f5f8968.a7a926"]]},{"id":"9c0a70d7.ecac2","type":"complete","z":"ee0210ff.d58d6","name":"","scope":["3c59e40.da59e1c"],"uncaught":false,"x":90,"y":2360,"wires":[["c0efa614.21bd68","4ef1c898.3f9a88"]]},{"id":"b27c52a4.a4ed","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.6","topic":"","payload":"","payloadType":"date","x":170,"y":2680,"wires":[["6bc3ce60.76ac6"]]},{"id":"6bc3ce60.76ac6","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_INIT_REQ}","qos":"","retain":"","broker":"f7629b0d.015018","x":420,"y":2680,"wires":[]},{"id":"b21111bd.13d4c","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_INIT_RES}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":170,"y":2760,"wires":[["6fe5e2af.871f6c"]]},{"id":"bf97fd89.010a","type":"function","z":"ee0210ff.d58d6","name":"init the manual setting ","func":"init = msg.payload\n//set now to init value \nflow.set(\"manual_uv\", init.manual_uv)\nflow.set(\"manual_led\", init.manual_led)\nflow.set(\"manual_ir\", init.manual_ir)\nflow.set(\"manual_control\", init.control)\nflow.set(\"solarSwitch\", init.solarSwitch)\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2760,"wires":[[]]},{"id":"6fe5e2af.871f6c","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":370,"y":2760,"wires":[["bf97fd89.010a","8f7ef0db.6b1dd"]]},{"id":"8f7ef0db.6b1dd","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":2800,"wires":[]},{"id":"e1079e95.b736c","type":"function","z":"ee0210ff.d58d6","name":"set uv_manual to flow","func":"flow.set('manual_uv', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1380,"wires":[[]]},{"id":"69df4fc6.660a9","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":960,"wires":[["1c333075.868ed"]]},{"id":"4ab5917a.f5cdd","type":"comment","z":"ee0210ff.d58d6","name":"led ctr logic ","info":"\nndvi - yes: led: 10 , uv : on \n     \n     - no : -solar - yes : go solar \n                    \n                   - no : -ai - yes : ai\n                              \n                              - no  : manual  ","x":1090,"y":820,"wires":[]},{"id":"185c4ef9.708111","type":"function","z":"ee0210ff.d58d6","name":"set ir_manual to flow","func":"flow.set('manual_ir', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1460,"wires":[[]]},{"id":"53259d05.24c944","type":"inject","z":"ee0210ff.d58d6","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1140,"wires":[["d1abbcb1.c05c4"]]},{"id":"b7087a5b.3675e8","type":"complete","z":"ee0210ff.d58d6","name":"","scope":["91d57767.5fcfb8","bf97fd89.010a"],"uncaught":false,"x":150,"y":1660,"wires":[["257d0e64.9db5e2"]]},{"id":"f8bad8ef.6aef78","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_SOLAR_TIME_RES}","qos":"","retain":"","broker":"f7629b0d.015018","x":1880,"y":1600,"wires":[]},{"id":"59a2c1f2.ed4b1","type":"comment","z":"ee0210ff.d58d6","name":"","info":"to do \n1. init by file\n    * inject node doesnt trigger\n2. show the solar time","x":200,"y":2820,"wires":[]},{"id":"59487dc9.802bc4","type":"comment","z":"ee0210ff.d58d6","name":"why 0.6s","info":"init in 0.6 sec \nbecause need time to let mqtt connected first","x":100,"y":2640,"wires":[]},{"id":"70d59ee6.f3e17","type":"inject","z":"ee0210ff.d58d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"now_output","payloadType":"flow","x":1210,"y":740,"wires":[["8f6364c9.8d9e58"]]},{"id":"8f6364c9.8d9e58","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NOW_OUTPUT}","qos":"","retain":"","broker":"f7629b0d.015018","x":1440,"y":740,"wires":[]}]