.flows_raspberrypi.json.backup
[{"id":"ee0210ff.d58d6","type":"tab","label":"detect","disabled":false,"info":""},{"id":"d9d53de3.1bbd2","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"4e6f33b4.68053c","type":"mqtt-broker","name":"","broker":"20.191.97.53","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32af63c1.7c078c","type":"mqtt-broker","name":"","broker":"23.98.183.28","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5672fe2c.31af4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5be98e3.44c4a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c30a41e8.72199","type":"ui_group","name":"Control","tab":"5672fe2c.31af4","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b718ce3.8da824","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"93377aba.97c078","type":"ui_group","name":"Setup","tab":"5672fe2c.31af4","order":2,"disp":true,"width":"6","collapse":false},{"id":"c4af32c9.bfd41","type":"file in","z":"ee0210ff.d58d6","name":"get_img","filename":"/home/pi/Desktop/marij_detect/data/image/dis.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":220,"wires":[["19a2d327.ab8b3d"]]},{"id":"f3d5d85d.bcd888","type":"exec","z":"ee0210ff.d58d6","command":"cd Desktop/marij_detect/ && python3 upload_to_cloud.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute buttom","x":400,"y":340,"wires":[[],["c99a9a48.122dd8"],["54ae95e9.30182c","c4af32c9.bfd41","8f1c17d2.5d0fa8"]]},{"id":"c99a9a48.122dd8","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":300,"wires":[]},{"id":"69763ca7.095114","type":"inject","z":"ee0210ff.d58d6","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["c4af32c9.bfd41"]]},{"id":"54ae95e9.30182c","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":360,"wires":[]},{"id":"2e31c828.a4cd58","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":500,"wires":[["aab967a0.a154e8"]]},{"id":"aab967a0.a154e8","type":"file","z":"ee0210ff.d58d6","name":"write_height_init","filename":"/home/pi/Desktop/marij_detect/lib/config/config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":500,"wires":[[]]},{"id":"7f5dc3f8.2afe6c","type":"exec","z":"ee0210ff.d58d6","command":"cd Desktop/marij_detect/ && python3 upload_to_cloud.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute daily","x":390,"y":100,"wires":[["679fb165.8f6","c4af32c9.bfd41"],[],["ebee23e6.6ccbf"]]},{"id":"679fb165.8f6","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":60,"wires":[]},{"id":"ebee23e6.6ccbf","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]},{"id":"8c041201.5f88f","type":"inject","z":"ee0210ff.d58d6","name":"daily detect","repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["7f5dc3f8.2afe6c"]]},{"id":"8f1c17d2.5d0fa8","type":"file in","z":"ee0210ff.d58d6","name":"write_height","filename":"/home/pi/Desktop/marij_detect/lib/config/center_height.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":810,"y":320,"wires":[["29b18a56.296ac6"]]},{"id":"29b18a56.296ac6","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":950,"y":320,"wires":[["614db6cb.8bf208","10537862.096d98"]]},{"id":"8c029255.d2b68","type":"file in","z":"ee0210ff.d58d6","name":"ai_decision","filename":"/home/pi/Desktop/marij_detect/lib/config/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":700,"wires":[["fbc0b4bc.ec3bc8"]]},{"id":"fbc0b4bc.ec3bc8","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":490,"y":700,"wires":[["7ebd0eec.1f0a8","680d9b2c.7437a4","5d08bf7.950274"]]},{"id":"a4364fb.f8b02b","type":"function","z":"ee0210ff.d58d6","name":"set to flow and pass led","func":"var led_val = msg.payload\nvar payload = {\n    \"led\": led_val,\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":820,"wires":[["e255977d.8ddd48"]]},{"id":"7ebd0eec.1f0a8","type":"function","z":"ee0210ff.d58d6","name":"set to flow","func":"var payload = msg.payload\nvar led = Number(payload.led)\nvar uv = payload.uv\nif (uv == \"on\"){\n    uv = \"true\"\n}\nelse {\n    uv = \"false\"\n}\nflow.set(\"led_ai\", led)\nflow.set(\"uv_ai\", uv)\npayload = {\n    \"led\": led,\n    \"uv\": uv\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":700,"wires":[["e9267fdc.4a5a3"]]},{"id":"7606b3d6.66c19c","type":"rpi-gpio out","z":"ee0210ff.d58d6","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1340,"y":960,"wires":[]},{"id":"b6cfeb41.d6efa8","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"farm3/detect_buttom/node1","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":160,"y":340,"wires":[["f3d5d85d.bcd888"]]},{"id":"166e4c1d.b85914","type":"http request","z":"ee0210ff.d58d6","name":"","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://20.191.97.53:3000/farm3/image/node1","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":220,"wires":[[]]},{"id":"dc0580f9.6cea6","type":"function","z":"ee0210ff.d58d6","name":"","func":"string = msg.payload\nmsg.payload = {\n    \"string\": string\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["166e4c1d.b85914"]]},{"id":"91d57767.5fcfb8","type":"function","z":"ee0210ff.d58d6","name":"set topic to control","func":"msg.topic = \"control\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1000,"wires":[["e255977d.8ddd48","e9267fdc.4a5a3","472ff49d.988b8c"]]},{"id":"6c36b007.2b527","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"farm3/height_form/node1","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":170,"y":500,"wires":[["2e31c828.a4cd58"]]},{"id":"680d9b2c.7437a4","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/ai_status/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":700,"y":760,"wires":[]},{"id":"614db6cb.8bf208","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/show_height/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1150,"y":320,"wires":[]},{"id":"1c333075.868ed","type":"function","z":"ee0210ff.d58d6","name":"set to flow and pass uv","func":"var uv_set = msg.payload\nvar payload = {\n    \"uv\": uv_set\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["472ff49d.988b8c"]]},{"id":"af99ebe9.5a6b28","type":"function","z":"ee0210ff.d58d6","name":"uv output","func":"var payload = msg.payload\nvar uv = payload.uv\nvar uvc = 0\nif(uv == \"true\" || uv == true){\n    uvc = 1\n}\nelse{\n    uvc = 0\n}\nvar msg3 = {\n    \"topic\": \"uv\",\n    \"payload\": uvc\n}\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":960,"wires":[["7606b3d6.66c19c"]]},{"id":"98724458.191a18","type":"file in","z":"ee0210ff.d58d6","name":"tml_to_json","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/CJMCU/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":590,"y":1320,"wires":[["b5d36304.bbdb7"]]},{"id":"b5d36304.bbdb7","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1320,"wires":[["a1ace718.7a0078"]]},{"id":"a1ace718.7a0078","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/cjmcu/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":950,"y":1320,"wires":[]},{"id":"f74751c6.7a784","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/Desktop/marij_detect/lib/GPIO/CJMCU/ && python3 sentData.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_tml","x":400,"y":1320,"wires":[[],["4d37aac2.0ed234"],["98724458.191a18"]]},{"id":"f2d79b48.853618","type":"file in","z":"ee0210ff.d58d6","name":"co2_to_json","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/MH-Z14A/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":1400,"wires":[["5eab3cb7.193e54"]]},{"id":"5eab3cb7.193e54","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":730,"y":1400,"wires":[["7e1c11a5.43a4d"]]},{"id":"7e1c11a5.43a4d","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/mh/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":900,"y":1400,"wires":[]},{"id":"1b85fe77.4a0042","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/Desktop/marij_detect/lib/GPIO/MH-Z14A/ && python3 co2_checksum.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_co2","x":380,"y":1400,"wires":[[],[],["f2d79b48.853618"]]},{"id":"66826906.813a98","type":"status","z":"ee0210ff.d58d6","name":"detect_status","scope":["f3d5d85d.bcd888"],"x":830,"y":400,"wires":[["36eb083a.542bc8"]]},{"id":"f89d108c.b4deb","type":"complete","z":"ee0210ff.d58d6","name":"","scope":["f3d5d85d.bcd888"],"uncaught":false,"x":830,"y":460,"wires":[["f7011f18.30c8e"]]},{"id":"67d759f4.290738","type":"catch","z":"ee0210ff.d58d6","name":"","scope":["f3d5d85d.bcd888"],"uncaught":false,"x":830,"y":520,"wires":[["22f6b41d.da03cc"]]},{"id":"4df9cfa6.1998f","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/detect_state/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1190,"y":400,"wires":[]},{"id":"36eb083a.542bc8","type":"function","z":"ee0210ff.d58d6","name":"running","func":"msg.payload = \"running\"\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":400,"wires":[["4df9cfa6.1998f"]]},{"id":"f7011f18.30c8e","type":"function","z":"ee0210ff.d58d6","name":"completed","func":"msg.payload = \"completed\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":460,"wires":[["db89c034.ebe5f"]]},{"id":"db89c034.ebe5f","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/detect_state/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1190,"y":460,"wires":[]},{"id":"22f6b41d.da03cc","type":"function","z":"ee0210ff.d58d6","name":"error","func":"msg.payload = \"error\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":520,"wires":[["58fa7343.b1fd3c"]]},{"id":"58fa7343.b1fd3c","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/detecting_state/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1180,"y":520,"wires":[]},{"id":"d0196154.5b1cd","type":"complete","z":"ee0210ff.d58d6","name":"hieght set completed","scope":["aab967a0.a154e8"],"uncaught":false,"x":150,"y":560,"wires":[["1b55189c.d26427"]]},{"id":"86ba8e1d.2cf6","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"farm3/height_state/node1","qos":"","retain":"","broker":"4e6f33b4.68053c","x":530,"y":560,"wires":[]},{"id":"1b55189c.d26427","type":"function","z":"ee0210ff.d58d6","name":"","func":"msg.payload = \"set to \" + msg.payload.height.toString() + \" m\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["86ba8e1d.2cf6"]]},{"id":"950f6212.2c656","type":"complete","z":"ee0210ff.d58d6","name":"after_detection","scope":["f3d5d85d.bcd888","7f5dc3f8.2afe6c"],"uncaught":false,"x":100,"y":660,"wires":[["8c029255.d2b68"]]},{"id":"420b9799.614898","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"farm3/get_image/node1","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":140,"y":240,"wires":[["c4af32c9.bfd41"]]},{"id":"d4ff44fe.087908","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"farm3/get_data/node1","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":160,"y":1320,"wires":[["f74751c6.7a784","1b85fe77.4a0042"]]},{"id":"baeaa10c.6498f","type":"status","z":"ee0210ff.d58d6","name":"get_sensor_data","scope":["f3d5d85d.bcd888","7f5dc3f8.2afe6c"],"x":160,"y":1400,"wires":[["f74751c6.7a784","1b85fe77.4a0042"]]},{"id":"404fd86b.c04778","type":"function","z":"ee0210ff.d58d6","name":"led output","func":"msg.payload = msg.payload.led\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":840,"wires":[["b10053bd.f7488"]]},{"id":"b10053bd.f7488","type":"range","z":"ee0210ff.d58d6","minin":"10","maxin":"90","minout":"90","maxout":"10","action":"scale","round":false,"property":"payload","name":"inverse","x":1280,"y":820,"wires":[["55708d9.bd16274"]]},{"id":"30eef149.a2632e","type":"inject","z":"ee0210ff.d58d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":720,"wires":[["8c029255.d2b68"]]},{"id":"e9267fdc.4a5a3","type":"gate","z":"ee0210ff.d58d6","name":"ai","controlTopic":"control","defaultState":"open","openCmd":"ai","closeCmd":"manual","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":910,"y":820,"wires":[["af99ebe9.5a6b28","404fd86b.c04778"]],"info":"ai mode have two input possible \n1. in first hour of every day open form 10~50\n2. open by the ai decision"},{"id":"e255977d.8ddd48","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"closed","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":920,"y":900,"wires":[["404fd86b.c04778"]]},{"id":"472ff49d.988b8c","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"closed","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":920,"y":960,"wires":[["af99ebe9.5a6b28","e04ef3c3.60eb7"]]},{"id":"19a2d327.ab8b3d","type":"base64","z":"ee0210ff.d58d6","name":"","action":"str","property":"payload","x":560,"y":220,"wires":[["dc0580f9.6cea6"]]},{"id":"4d37aac2.0ed234","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1260,"wires":[]},{"id":"55708d9.bd16274","type":"function","z":"ee0210ff.d58d6","name":"","func":"led = msg.payload\nmsg.payload = {\n    \"led_intensity\": led\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":740,"wires":[["53e2daec.383aa4"]]},{"id":"793e30d8.70ebc","type":"file","z":"ee0210ff.d58d6","name":"pwm_file","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/PWM/pwm_info.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1620,"y":780,"wires":[[]]},{"id":"53e2daec.383aa4","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":780,"wires":[["793e30d8.70ebc"]]},{"id":"1d6c12b9.eed91d","type":"ui_slider","z":"ee0210ff.d58d6","name":"","label":"led","tooltip":"","group":"c30a41e8.72199","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"90","step":"10","x":130,"y":820,"wires":[["a4364fb.f8b02b"]]},{"id":"f5a97a9f.051948","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"uv","tooltip":"","group":"c30a41e8.72199","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":900,"wires":[["1c333075.868ed"]]},{"id":"e04ef3c3.60eb7","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":1020,"wires":[]},{"id":"e2a2a628.db7da8","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"manual","tooltip":"","group":"c30a41e8.72199","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"ai","offvalueType":"str","officon":"","offcolor":"","x":140,"y":1000,"wires":[["91d57767.5fcfb8"]]},{"id":"c1ddada6.4a2d9","type":"status","z":"ee0210ff.d58d6","name":"led status","scope":["1d6c12b9.eed91d"],"x":120,"y":1240,"wires":[["3750df53.3bd3e"]]},{"id":"3750df53.3bd3e","type":"ui_text","z":"ee0210ff.d58d6","group":"c30a41e8.72199","order":4,"width":0,"height":0,"name":"","label":"led intensity","format":"{{msg.status.text}}%","layout":"row-spread","x":330,"y":1240,"wires":[]},{"id":"23d2c2b.e5a9e3e","type":"ui_form","z":"ee0210ff.d58d6","name":"","label":"","group":"93377aba.97c078","order":6,"width":0,"height":0,"options":[{"label":"height (m)","value":"height","type":"number","required":true,"rows":null}],"formValue":{"height":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":440,"wires":[["aa3740d0.f4941","2e31c828.a4cd58"]]},{"id":"aa3740d0.f4941","type":"ui_text","z":"ee0210ff.d58d6","group":"93377aba.97c078","order":5,"width":0,"height":0,"name":"","label":"","format":"set to {{msg.payload.height}} m","layout":"row-spread","x":310,"y":440,"wires":[]},{"id":"10537862.096d98","type":"ui_text","z":"ee0210ff.d58d6","group":"93377aba.97c078","order":2,"width":0,"height":0,"name":"","label":"center height","format":"{{msg.payload.height}} m","layout":"row-spread","x":1110,"y":280,"wires":[]},{"id":"5d08bf7.950274","type":"ui_text","z":"ee0210ff.d58d6","group":"c30a41e8.72199","order":1,"width":0,"height":0,"name":"","label":"AI","format":"led : {{msg.payload.led}} uv : {{msg.payload.uv}}","layout":"row-spread","x":650,"y":660,"wires":[]},{"id":"f2689ee7.a88a","type":"file in","z":"d9d53de3.1bbd2","name":"70%file","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":80,"wires":[["8fff8697.a70168"]]},{"id":"f3c8a4b3.ae2338","type":"debug","z":"d9d53de3.1bbd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"5ef90cbf.5372f4","type":"inject","z":"d9d53de3.1bbd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["dbe56d50.c5919"]]},{"id":"9615bc76.b2702","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"farm3/monitor/70_state","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":280,"y":80,"wires":[["f2689ee7.a88a"]]},{"id":"5985f123.78c58","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"farm3/monitor/write_70_false","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":180,"y":300,"wires":[["dbe56d50.c5919"]]},{"id":"63fa5159.70fd5","type":"json","z":"d9d53de3.1bbd2","name":"","property":"payload","action":"","pretty":false,"x":530,"y":300,"wires":[["104fbe55.4fb652","f3c8a4b3.ae2338"]]},{"id":"104fbe55.4fb652","type":"function","z":"d9d53de3.1bbd2","name":"set_trans_false","func":"msg.payload.trans_now = \"false\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":300,"wires":[["c4afda1e.462a18","3580e256.5f342e"]]},{"id":"dbe56d50.c5919","type":"file in","z":"d9d53de3.1bbd2","name":"70%file","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":300,"wires":[["63fa5159.70fd5"]]},{"id":"c4afda1e.462a18","type":"debug","z":"d9d53de3.1bbd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":220,"wires":[]},{"id":"3580e256.5f342e","type":"json","z":"d9d53de3.1bbd2","name":"","property":"payload","action":"","pretty":false,"x":870,"y":300,"wires":[["ac0e1eba.96aeb"]]},{"id":"ac0e1eba.96aeb","type":"file","z":"d9d53de3.1bbd2","name":"write_back","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1020,"y":300,"wires":[[]]},{"id":"8fff8697.a70168","type":"mqtt out","z":"d9d53de3.1bbd2","name":"","topic":"farm3/monitor/70_state_out","qos":"","retain":"","broker":"4e6f33b4.68053c","x":760,"y":80,"wires":[]},{"id":"fe37938.e443f7","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"farm3/monitor/net_check","qos":"2","datatype":"auto","broker":"4e6f33b4.68053c","x":300,"y":160,"wires":[["712b6d63.3ac804"]]},{"id":"712b6d63.3ac804","type":"function","z":"d9d53de3.1bbd2","name":"","func":"msg.payload = Date.UTC()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[["235bb154.7b55de"]]},{"id":"235bb154.7b55de","type":"mqtt out","z":"d9d53de3.1bbd2","name":"","topic":"farm3/monitor/70_state_out","qos":"","retain":"","broker":"4e6f33b4.68053c","x":720,"y":160,"wires":[]}]