flows_agromeans.json
[{"id":"ee0210ff.d58d6","type":"tab","label":"Detect & Contral api","disabled":false,"info":""},{"id":"d9d53de3.1bbd2","type":"tab","label":"70% debug","disabled":false,"info":""},{"id":"4e6f33b4.68053c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b74f8a9.bbd4f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f7629b0d.015018","type":"mqtt-broker","name":"20.191.97.53","broker":"20.191.97.53","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c30a41e8.72199","type":"ui_group","name":"Control","tab":"14276685.6aa4b9","order":1,"disp":true,"width":"6","collapse":false},{"id":"93377aba.97c078","type":"ui_group","name":"Setup","tab":"14276685.6aa4b9","order":2,"disp":true,"width":"6","collapse":false},{"id":"14276685.6aa4b9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1d8ed34.6a447","type":"ui_group","name":"Time","tab":"4d8d2f83.26819","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d8d2f83.26819","type":"ui_tab","name":"Settings","icon":"settings"},{"id":"c4af32c9.bfd41","type":"file in","z":"ee0210ff.d58d6","name":"get_img","filename":"/home/pi/Desktop/marij_detect/data/image/dis.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":220,"wires":[["19a2d327.ab8b3d"]]},{"id":"f3d5d85d.bcd888","type":"exec","z":"ee0210ff.d58d6","command":"cd Desktop/marij_detect/ && python3 upload_to_cloud.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute buttom","x":400,"y":320,"wires":[[],["c99a9a48.122dd8"],["54ae95e9.30182c","c4af32c9.bfd41","8f1c17d2.5d0fa8"]]},{"id":"c99a9a48.122dd8","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":380,"wires":[]},{"id":"69763ca7.095114","type":"inject","z":"ee0210ff.d58d6","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["c4af32c9.bfd41"]]},{"id":"54ae95e9.30182c","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":420,"wires":[]},{"id":"2e31c828.a4cd58","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":500,"wires":[["aab967a0.a154e8"]]},{"id":"aab967a0.a154e8","type":"file","z":"ee0210ff.d58d6","name":"write_height_init","filename":"/home/pi/Desktop/marij_detect/lib/config/config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":500,"wires":[[]]},{"id":"7f5dc3f8.2afe6c","type":"exec","z":"ee0210ff.d58d6","command":"cd Desktop/marij_detect/ && python3 upload_to_cloud.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute daily","x":390,"y":100,"wires":[["c4af32c9.bfd41"],[],[]]},{"id":"8c041201.5f88f","type":"inject","z":"ee0210ff.d58d6","name":"daily detect","repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["7f5dc3f8.2afe6c"]]},{"id":"8f1c17d2.5d0fa8","type":"file in","z":"ee0210ff.d58d6","name":"write_height","filename":"/home/pi/Desktop/marij_detect/lib/config/center_height.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":630,"y":320,"wires":[["29b18a56.296ac6"]]},{"id":"29b18a56.296ac6","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":810,"y":320,"wires":[["614db6cb.8bf208","10537862.096d98"]]},{"id":"8c029255.d2b68","type":"file in","z":"ee0210ff.d58d6","name":"ai_decision","filename":"/home/pi/Desktop/marij_detect/lib/config/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":760,"wires":[["fbc0b4bc.ec3bc8"]]},{"id":"fbc0b4bc.ec3bc8","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":490,"y":760,"wires":[["7ebd0eec.1f0a8","5d08bf7.950274","64081877.b46148"]]},{"id":"a4364fb.f8b02b","type":"function","z":"ee0210ff.d58d6","name":"set to flow and pass led","func":"var led_val = msg.payload\nvar payload = {\n    \"led\": led_val,\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":880,"wires":[["e255977d.8ddd48"]]},{"id":"7ebd0eec.1f0a8","type":"function","z":"ee0210ff.d58d6","name":"set to flow","func":"var payload = msg.payload\nvar led = Number(payload.led)\nvar uv = payload.uv\nvar ir = payload.ir\nif (uv == \"on\"){\n    uv = \"true\"\n}\nelse {\n    uv = \"false\"\n}\nflow.set(\"led_ai\", led)\nflow.set(\"uv_ai\", uv)\npayload = {\n    \"led\": led,\n    \"uv\": uv,\n    \"ir\": ir\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":760,"wires":[["e9267fdc.4a5a3"]]},{"id":"7606b3d6.66c19c","type":"rpi-gpio out","z":"ee0210ff.d58d6","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1320,"y":1020,"wires":[]},{"id":"b6cfeb41.d6efa8","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_DETECT_BUTTOM}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":160,"y":340,"wires":[["f3d5d85d.bcd888"]]},{"id":"91d57767.5fcfb8","type":"function","z":"ee0210ff.d58d6","name":"set topic to control","func":"msg.topic = \"control\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1060,"wires":[["e255977d.8ddd48","e9267fdc.4a5a3","472ff49d.988b8c","fc2bec61.0b1d1"]]},{"id":"6c36b007.2b527","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_HEIGHT_FORM}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":170,"y":500,"wires":[["2e31c828.a4cd58"]]},{"id":"614db6cb.8bf208","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_SHOW_HEIGHT}","qos":"","retain":"","broker":"f7629b0d.015018","x":1040,"y":320,"wires":[]},{"id":"1c333075.868ed","type":"function","z":"ee0210ff.d58d6","name":"set to flow and pass uv","func":"var uv_set = msg.payload\nvar payload = {\n    \"uv\": uv_set\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":960,"wires":[["472ff49d.988b8c"]]},{"id":"af99ebe9.5a6b28","type":"function","z":"ee0210ff.d58d6","name":"uv output","func":"var payload = msg.payload\nvar uv = payload.uv\nvar uvc = 0\nif(uv == \"true\" || uv == true || uv == \"on\"){\n    uvc = 1\n}\nelse{\n    uvc = 0\n}\nvar msg3 = {\n    \"topic\": \"uv\",\n    \"payload\": uvc\n}\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1020,"wires":[["7606b3d6.66c19c","d66eeb0b.434a58"]]},{"id":"98724458.191a18","type":"file in","z":"ee0210ff.d58d6","name":"tml_to_json","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/CJMCU/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":1400,"wires":[["b5d36304.bbdb7"]]},{"id":"b5d36304.bbdb7","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":750,"y":1400,"wires":[["a1ace718.7a0078"]]},{"id":"a1ace718.7a0078","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_CJMCU}","qos":"","retain":"","broker":"f7629b0d.015018","x":930,"y":1400,"wires":[]},{"id":"f74751c6.7a784","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/Desktop/marij_detect/lib/GPIO/CJMCU/ && python3 sentData.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_tml","x":380,"y":1400,"wires":[[],[],["98724458.191a18"]]},{"id":"5eab3cb7.193e54","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":710,"y":1480,"wires":[["7e1c11a5.43a4d"]]},{"id":"7e1c11a5.43a4d","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_MH}","qos":"","retain":"","broker":"f7629b0d.015018","x":880,"y":1480,"wires":[]},{"id":"1b85fe77.4a0042","type":"exec","z":"ee0210ff.d58d6","command":"cd /home/pi/Desktop/marij_detect/lib/GPIO/MH-Z14A/ && python3 co2.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_co2","x":380,"y":1480,"wires":[[],[],["f2d79b48.853618"]]},{"id":"66826906.813a98","type":"status","z":"ee0210ff.d58d6","name":"detect_status","scope":["f3d5d85d.bcd888"],"x":830,"y":460,"wires":[["36eb083a.542bc8"]]},{"id":"f89d108c.b4deb","type":"complete","z":"ee0210ff.d58d6","name":"","scope":["f3d5d85d.bcd888"],"uncaught":false,"x":830,"y":520,"wires":[["f7011f18.30c8e"]]},{"id":"67d759f4.290738","type":"catch","z":"ee0210ff.d58d6","name":"","scope":["f3d5d85d.bcd888"],"uncaught":false,"x":830,"y":580,"wires":[["22f6b41d.da03cc"]]},{"id":"36eb083a.542bc8","type":"function","z":"ee0210ff.d58d6","name":"running","func":"msg.payload = \"running\"\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":460,"wires":[["db89c034.ebe5f"]]},{"id":"f7011f18.30c8e","type":"function","z":"ee0210ff.d58d6","name":"completed","func":"msg.payload = \"completed\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["db89c034.ebe5f"]]},{"id":"db89c034.ebe5f","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_DETECT_STATE}","qos":"","retain":"","broker":"f7629b0d.015018","x":1290,"y":520,"wires":[]},{"id":"22f6b41d.da03cc","type":"function","z":"ee0210ff.d58d6","name":"error","func":"msg.payload = \"error\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":580,"wires":[["db89c034.ebe5f"]]},{"id":"d0196154.5b1cd","type":"complete","z":"ee0210ff.d58d6","name":"hieght set completed","scope":["aab967a0.a154e8"],"uncaught":false,"x":150,"y":560,"wires":[["1b55189c.d26427"]]},{"id":"86ba8e1d.2cf6","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_HEIGHT_STATE}","qos":"","retain":"","broker":"f7629b0d.015018","x":580,"y":560,"wires":[]},{"id":"1b55189c.d26427","type":"function","z":"ee0210ff.d58d6","name":"set completed","func":"msg.payload = \"set to \" + msg.payload.height.toString() + \" m\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":560,"wires":[["86ba8e1d.2cf6"]]},{"id":"950f6212.2c656","type":"complete","z":"ee0210ff.d58d6","name":"after_detection","scope":["f3d5d85d.bcd888","7f5dc3f8.2afe6c"],"uncaught":false,"x":100,"y":720,"wires":[["8c029255.d2b68"]]},{"id":"420b9799.614898","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_GET_IMAGE}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":140,"y":240,"wires":[["c4af32c9.bfd41"]]},{"id":"d4ff44fe.087908","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_GET_DATA}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":120,"y":1400,"wires":[["1b85fe77.4a0042","f74751c6.7a784"]]},{"id":"baeaa10c.6498f","type":"status","z":"ee0210ff.d58d6","name":"get_sensor_data","scope":["f3d5d85d.bcd888","7f5dc3f8.2afe6c"],"x":140,"y":1480,"wires":[["1b85fe77.4a0042","f74751c6.7a784"]]},{"id":"404fd86b.c04778","type":"function","z":"ee0210ff.d58d6","name":"led output","func":"msg.payload = msg.payload.led\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":900,"wires":[["55708d9.bd16274","3f925373.ee9e0c"]]},{"id":"30eef149.a2632e","type":"inject","z":"ee0210ff.d58d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":780,"wires":[["8c029255.d2b68"]]},{"id":"e9267fdc.4a5a3","type":"gate","z":"ee0210ff.d58d6","name":"ai","controlTopic":"control","defaultState":"closed","openCmd":"ai","closeCmd":"manual","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":910,"y":880,"wires":[["af99ebe9.5a6b28","404fd86b.c04778","75847f64.2175f"]],"info":"ai mode have two input possible \n1. in first hour of every day open form 10~50\n2. open by the ai decision"},{"id":"e255977d.8ddd48","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"open","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":920,"y":960,"wires":[["404fd86b.c04778"]]},{"id":"472ff49d.988b8c","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"open","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":920,"y":1020,"wires":[["af99ebe9.5a6b28"]]},{"id":"19a2d327.ab8b3d","type":"base64","z":"ee0210ff.d58d6","name":"","action":"str","property":"payload","x":560,"y":220,"wires":[["bfdfbfa0.f3ea9"]]},{"id":"55708d9.bd16274","type":"function","z":"ee0210ff.d58d6","name":"","func":"led = msg.payload\nmsg.payload = {\n    \"led_intensity\": parseInt(led)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":900,"wires":[["53e2daec.383aa4"]]},{"id":"793e30d8.70ebc","type":"file","z":"ee0210ff.d58d6","name":"pwm_file","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/PWM/pwm_info.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1560,"y":900,"wires":[[]]},{"id":"53e2daec.383aa4","type":"json","z":"ee0210ff.d58d6","name":"","property":"payload","action":"","pretty":false,"x":1410,"y":900,"wires":[["793e30d8.70ebc"]]},{"id":"1d6c12b9.eed91d","type":"ui_slider","z":"ee0210ff.d58d6","name":"","label":"led","tooltip":"","group":"c30a41e8.72199","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"90","step":"10","x":130,"y":860,"wires":[["a4364fb.f8b02b"]]},{"id":"f5a97a9f.051948","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"uv","tooltip":"","group":"c30a41e8.72199","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":960,"wires":[["1c333075.868ed"]]},{"id":"e2a2a628.db7da8","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"AI","tooltip":"","group":"c30a41e8.72199","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"ai","onvalueType":"str","onicon":"","oncolor":"","offvalue":"manual","offvalueType":"str","officon":"","offcolor":"","x":130,"y":1060,"wires":[["91d57767.5fcfb8"]]},{"id":"c1ddada6.4a2d9","type":"status","z":"ee0210ff.d58d6","name":"led status","scope":["1d6c12b9.eed91d"],"x":100,"y":1320,"wires":[["3750df53.3bd3e"]]},{"id":"3750df53.3bd3e","type":"ui_text","z":"ee0210ff.d58d6","group":"c30a41e8.72199","order":5,"width":0,"height":0,"name":"","label":"led intensity","format":"{{msg.status.text}}%","layout":"row-spread","x":310,"y":1320,"wires":[]},{"id":"23d2c2b.e5a9e3e","type":"ui_form","z":"ee0210ff.d58d6","name":"","label":"","group":"93377aba.97c078","order":6,"width":0,"height":0,"options":[{"label":"height (m)","value":"height","type":"number","required":true,"rows":null}],"formValue":{"height":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":440,"wires":[["aa3740d0.f4941","2e31c828.a4cd58"]]},{"id":"aa3740d0.f4941","type":"ui_text","z":"ee0210ff.d58d6","group":"93377aba.97c078","order":5,"width":0,"height":0,"name":"","label":"","format":"set to {{msg.payload.height}} m","layout":"row-spread","x":310,"y":440,"wires":[]},{"id":"10537862.096d98","type":"ui_text","z":"ee0210ff.d58d6","group":"93377aba.97c078","order":2,"width":0,"height":0,"name":"","label":"center height","format":"{{msg.payload.height}} m","layout":"row-spread","x":990,"y":280,"wires":[]},{"id":"5d08bf7.950274","type":"ui_text","z":"ee0210ff.d58d6","group":"c30a41e8.72199","order":1,"width":0,"height":0,"name":"","label":"AI","format":"led : {{msg.payload.led}} uv : {{msg.payload.uv}} ir : {{msg.payload.ir}}","layout":"row-spread","x":650,"y":700,"wires":[]},{"id":"f2689ee7.a88a","type":"file in","z":"d9d53de3.1bbd2","name":"70%file","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":80,"wires":[["8fff8697.a70168"]]},{"id":"5ef90cbf.5372f4","type":"inject","z":"d9d53de3.1bbd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["dbe56d50.c5919"]]},{"id":"9615bc76.b2702","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_70_STATE}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":270,"y":80,"wires":[["f2689ee7.a88a"]]},{"id":"5985f123.78c58","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_WRITE_70_FALSE}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":160,"y":300,"wires":[["dbe56d50.c5919"]]},{"id":"63fa5159.70fd5","type":"json","z":"d9d53de3.1bbd2","name":"","property":"payload","action":"","pretty":false,"x":530,"y":300,"wires":[["104fbe55.4fb652"]]},{"id":"104fbe55.4fb652","type":"function","z":"d9d53de3.1bbd2","name":"set_trans_false","func":"msg.payload.trans_now = \"false\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":300,"wires":[["3580e256.5f342e"]]},{"id":"dbe56d50.c5919","type":"file in","z":"d9d53de3.1bbd2","name":"70%file","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":300,"wires":[["63fa5159.70fd5"]]},{"id":"3580e256.5f342e","type":"json","z":"d9d53de3.1bbd2","name":"","property":"payload","action":"","pretty":false,"x":870,"y":300,"wires":[["ac0e1eba.96aeb"]]},{"id":"ac0e1eba.96aeb","type":"file","z":"d9d53de3.1bbd2","name":"write_back","filename":"/home/pi/Desktop/marij_detect/lib/config/70_percent_date.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1020,"y":300,"wires":[[]]},{"id":"8fff8697.a70168","type":"mqtt out","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_70_STATE_OUT}","qos":"","retain":"","broker":"f7629b0d.015018","x":750,"y":80,"wires":[]},{"id":"fe37938.e443f7","type":"mqtt in","z":"d9d53de3.1bbd2","name":"","topic":"${MQTT_NET_CHECK}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":290,"y":160,"wires":[["712b6d63.3ac804"]]},{"id":"712b6d63.3ac804","type":"function","z":"d9d53de3.1bbd2","name":"","func":"msg.payload = Date.now()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[["8fff8697.a70168"]]},{"id":"f2d79b48.853618","type":"file in","z":"ee0210ff.d58d6","name":"co2_to_json","filename":"/home/pi/Desktop/marij_detect/lib/GPIO/MH-Z14A/data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":1480,"wires":[["5eab3cb7.193e54"]]},{"id":"3f925373.ee9e0c","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_ZERO_LED}","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1320,"y":840,"wires":[]},{"id":"d66eeb0b.434a58","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_ZERO_UV}","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1360,"y":980,"wires":[]},{"id":"869c772d.f577b8","type":"ui_switch","z":"ee0210ff.d58d6","name":"","label":"ir","tooltip":"","group":"c30a41e8.72199","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":1140,"wires":[["d1abbcb1.c05c4"]]},{"id":"c3a6fb74.9ecef8","type":"rpi-gpio out","z":"ee0210ff.d58d6","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1280,"y":1120,"wires":[]},{"id":"853596fb.0df0b8","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_ZERO_IR}","qos":"","retain":"","broker":"4e6f33b4.68053c","x":1310,"y":1180,"wires":[]},{"id":"d1abbcb1.c05c4","type":"function","z":"ee0210ff.d58d6","name":"set to flow and pass uv","func":"var ir_set = msg.payload\nvar payload = {\n    \"ir\": ir_set\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1140,"wires":[["fc2bec61.0b1d1"]]},{"id":"fc2bec61.0b1d1","type":"gate","z":"ee0210ff.d58d6","name":"manual","controlTopic":"control","defaultState":"open","openCmd":"manual","closeCmd":"ai","toggleCmd":"toggle","defaultCmd":"default","persist":true,"x":900,"y":1140,"wires":[["75847f64.2175f"]]},{"id":"5caa30e7.c1c6","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_LED}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":110,"y":900,"wires":[["a4364fb.f8b02b"]]},{"id":"64081877.b46148","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_AI_STATUS}","qos":"","retain":"","broker":"f7629b0d.015018","x":690,"y":820,"wires":[]},{"id":"8f8db444.390428","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_UV}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":150,"y":1000,"wires":[["1c333075.868ed"]]},{"id":"d552b19a.75f3c","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_MANUAL_SWITCH}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":180,"y":1100,"wires":[["91d57767.5fcfb8"]]},{"id":"8e92b5a9.0ca798","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_IR}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":130,"y":1180,"wires":[["d1abbcb1.c05c4"]]},{"id":"75847f64.2175f","type":"function","z":"ee0210ff.d58d6","name":"uv output","func":"var payload = msg.payload\nvar ir = payload.ir\nvar irc = 0\nif(ir == \"true\" || ir == true || ir == \"on\"){\n    irc = 1\n}\nelse{\n    irc = 0\n}\nvar msg3 = {\n    \"topic\": \"ir\",\n    \"payload\": irc\n}\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1140,"wires":[["853596fb.0df0b8","c3a6fb74.9ecef8"]]},{"id":"bfdfbfa0.f3ea9","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_IMAGE}","qos":"","retain":"","broker":"f7629b0d.015018","x":780,"y":220,"wires":[]},{"id":"74703fc2.4f924","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NET_STATUS}","qos":"","retain":"","broker":"f7629b0d.015018","x":370,"y":640,"wires":[]},{"id":"a76a052.36d28f8","type":"inject","z":"ee0210ff.d58d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":640,"wires":[["74703fc2.4f924","59ba3cdc.02fbf4"]]},{"id":"59ba3cdc.02fbf4","type":"debug","z":"ee0210ff.d58d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":700,"wires":[]},{"id":"f0d98a70.f47608","type":"mqtt out","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NET_STATUS}","qos":"","retain":"","broker":"f7629b0d.015018","x":470,"y":1680,"wires":[]},{"id":"9bb9b023.b0ea3","type":"mqtt in","z":"ee0210ff.d58d6","name":"","topic":"${MQTT_NET_CHECK}","qos":"2","datatype":"auto","broker":"f7629b0d.015018","x":180,"y":1680,"wires":[["f0d98a70.f47608"]]},{"id":"5368ccc8.085314","type":"inject","z":"ee0210ff.d58d6","name":"trigger for chart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1560,"wires":[["eae1bf29.84b59","507335ab.fe221c","f74751c6.7a784","1b85fe77.4a0042"]]},{"id":"eae1bf29.84b59","type":"function","z":"ee0210ff.d58d6","name":"produceDummyData","func":"t = Math.random()*2 + 20\nh = Math.random()*2 + 50\nl = Math.random()*15 + 1000\nmsg.payload = {\n    temperature: Math.round(t*100)/100,\n    humidity: Math.round(h*100)/100,\n    light: Math.round(l*100)/100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1540,"wires":[[]]},{"id":"507335ab.fe221c","type":"function","z":"ee0210ff.d58d6","name":"produceDummyData_co2","func":"c = Math.random()*10 + 400\nmsg.payload = { co2 : Math.round(c*100)/100 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":1580,"wires":[[]]}]